@charset "utf-8";
/* CSS Document */

.layout{width:1200px;margin:0 auto;}
#headerNav{height:40px;background-color:#fbfbfb;border-bottom:2px solid #dadada}
#headerNav .layout>div{float:right;font:13px/17px "";display:flex;padding-top:10px;}
#headerNav .layout>div>a{margin:0 3px}
#headerNav .layout>div>span{margin:3px 3px 0 0;width: 1px;height: 10px;background: #e2e1e0;}
header .layout{position: relative;}
header{height:110px;background-color:#fff;border-bottom:2px solid #e0e0e0;overflow: hidden;}
header .logo{display:block;background: url(../images/logo.png);width:98px;height:53px;margin:36px 0 0 39px;float: left;}
header #txt{width:435px;height:45px;box-sizing:border-box;border:2px solid #f43445;float: left;margin:30px 0 0 78px;font: 14px/18px "";text-indent:1em;}

header .search-res{position:fixed;left:29.78%;top:116px;width: 435px;border: 1px solid rgba(253, 149, 149, 0.842);overflow: hidden;border-radius: 10px;z-index: 60;display: none}

header .search-res li{list-style-type: none;font:18px/30px "";padding: 2px 5px;border-bottom: 1px solid rgba(253, 149, 149, 0.842);background:rgba(253, 149, 149, 0.514);z-index:9999;color:#fff}


header #btn1{width:45px;height:45px;border:2px solid #f43445;background:#f43142 url(../images/fdj.png) no-repeat;float: left;margin-top:30px;cursor: pointer;}
header>.layout>div{width:200px;height:18px;float: left;margin:45px 0 0 22px;}
header>.layout>div>a>em{font: 14px/18px "";}
header>.layout>div>span{margin:3px 3px 0 0;width: 1px;height: 10px;background: #e2e1e0;display: inline-block;}
header .ps{width:160px;height:46px;background:url(../images/gjfs.png);display:block;float:right;margin-top:30px}



nav{height:52px;background-color:#fff;border-bottom:2px solid #000;position: relative;}
nav #btn2{height:52px;width:175px;;cursor: default;font:14px/37px "";border:2px solid #e0e0e0;background-color: transparent;vertical-align: middle;    background-color: rgb(233, 237, 240);float: left;}
nav #btn2 .xlg{width:16px;height:13px;background:url(../images/icon.png) no-repeat;background-position: -109px -8px;float: left;margin:15px 0 0 13px;}
nav #btn2 em{float: left;margin-left:8px}
nav>.layout>a{width:100px;display: block;float: left;font: 14px/51px "";margin-left:15px}
nav .yiji{width:175px;height:465px;background:#161223;position:absolute;top:53px;z-index: 20;}
nav .yiji li{padding-left:10px;height:41px;border-bottom:1px solid #4e4c53;font: 15px/41px "";color: #fff;}
nav .yiji>li:nth-child(11){border:none}
nav .yiji>li .erji{height:465px;width:400px;background:#fff;position:absolute;top:0;left:175px;display:none}
nav .yiji>li .erji h3{font:25px/95px "";margin-left:10px;color:#000}
nav .yiji>li .erji i{position:absolute;height:2px;left:10px;right:10px;background:#f2f2f2;}
nav .yiji>li .erji .erjic{margin-top:10px;}
nav .yiji>li .erji .erjic a{font:13px/22px "";height:22px;display:block;margin-left:10px}


#banner{height:465px;background-color:#e37fb1;}
#banner .banner{position: relative;left:175px;width:1025px;height:465px;}
#banner .banner .banner1{position: absolute;}
#banner .banner .img{position: absolute;}
#banner .banner .img:nth-child(1){z-index:10}
#banner .banner .img:nth-child(2){z-index:9}
#banner .banner .img:nth-child(3){z-index:8}
#banner .banner .img:nth-child(4){z-index:7}
#banner .banner .img:nth-child(5){z-index:6}
#banner .banner ul{position: absolute;top:429px;height:37px;width:983px;display: flex}
#banner .banner ul li{width:197px;height:35px;border-bottom:1px solid #c0c3c8;border-right:1px solid #c0c3c8;background:#f9f8fb;font: 14px/35px "";text-align: center;z-index: 19;}
#banner .banner button{width:42px;height:37px;background:#f9f8fb url(../images/icon.png) no-repeat center;display: block;position: absolute;;left:983px;top:429px;z-index: 19;border:none;background-position:-60px 0}

#banner .banner .left,.right{width:60px;height:60px;position: absolute;z-index: 12;opacity: 0.7;}
#banner .banner .left{left:0;top:200px;background:url(../images/icon.png) no-repeat center;background-position: 0 -180px;}
#banner .banner .right{right:241px;top:200px;background:url(../images/icon.png) no-repeat center;background-position: 0 -60px;}
#banner .banner .zb img{width:242px;height:380px;position: absolute;z-index: 12;right:0;top:40px;background-color: rgb(255, 111, 111,0);}


main{border-bottom:2px solid #dadada;padding-bottom: 35px;background:#e9edf0}
main h3{font:28px/36px "";font-weight: bold;color: #2d323b;}

main .main-news{padding-top:40px;background:#e9edf0}
main .main-news ul li:nth-child(1) a img{width:400px;height:380px;display:block;background:orange;float: left;margin-left:-95px}
main .main-news ul li:nth-child(2) a img{width:305px;height:380px;display:block;background:pink;float:right;}
main .main-news ul li:nth-child(3) a img{width:590px;height:190px;display:block;background:greenyellow}
main .main-news ul li:nth-child(4) a img{width:590px;height:190px;display:block;background:blue}


main .main-best{padding:45px 0 20px 0;background:#f4f6f8;height:1009px}
main .layout{position: relative;}
main .main-best h3{font:28px/36px "";font-weight: bold;color: #2d323b;padding-bottom:15px;float: left;}
main .main-best .tjzq{float:right;}
main .main-best .tjzq a{height: 28px;width: 40px;padding: 0 17px;margin-left: -4px;line-height: 28px;color: #666;font-size: 14px;line-height: 28px;display: block;float: left;text-align: center;border-radius:14px}
main .main-best .tjzq span{width: 5px;height: 5px;background: #666;display: inline-block;border-radius: 50%;display: block;float: left;margin:10px}

main .main-best ul {width: auto;top:50px;display:flex;flex-wrap:wrap;position: absolute;}
main .main-best ul li{padding:10px 5px 0 0;width:285px;height: 427px;}
main .main-best ul li .cont-1{padding-bottom:20;height: 427px;border: 1px solid #f4f6f8;border-bottom: 1px solid #d0d1d3;background:#fff}
main .main-best ul li .cont-1 img{width:280px;height:280px;margin-left:2px;}
main .main-best ul li p{overflow: hidden;display: block;height: 37px;margin-right: -1px;padding-right: 1px;font-size: 14px;line-height: 18px;color: #333;word-break: keep-all;margin:15px}
main .main-best ul li span{font: bold 22px/22px '';color: #333;margin:15px}

main .main-hot{padding-top:45px;height:495px;position: relative;}
main .main-hot .main-hot-t{display:flex;justify-content: space-around;height:112px;background:#fff;border-bottom:1px solid #aaa;box-sizing: border-box;margin-top:30px}
main .main-hot .gd{float: right}
main .main-hot .main-hot-t li{margin-top:25px;width:100px;}
main .main-hot .main-hot-t div{width:40px;height:40px;background:#f4f6f8 url(../images/icon.png) no-repeat;border-radius:50px;margin-left:20px}
main .main-hot .main-hot-t li:nth-child(1) div{background-position:-138px 0}
main .main-hot .main-hot-t li:nth-child(2) div{background-position:-138px -40px}
main .main-hot .main-hot-t li:nth-child(3) div{background-position:-138px -80px}
main .main-hot .main-hot-t li:nth-child(4) div{background-position:-138px -120px}
main .main-hot .main-hot-t li p{line-height: 16px;letter-spacing: 0.5px;font-weight: normal;padding-top:15px;font: 12px "";margin-left:20px}
main .main-hot .main-hot-b{padding: 20px;background: #fff;height:340px}
main .main-hot .main-hot-b li{float: left;padding: 0 4px;box-sizing: border-box}

main .main-hot .main-hot-b li .cont-1{width:223px;height:340px;background: #fff;position: relative;}
main .main-hot .main-hot-b li .cont-1 img{width:222px;margin-left:1px;}
main .main-hot .main-hot-b li .cont-1 p{overflow: hidden;display: block;height: 37px;margin-right: -1px;padding-right: 1px;font: 14px/18px "";color: #333;word-break: keep-all;margin:15px}
main .main-hot .main-hot-b li .cont-1 span{font: bold 22px/22px '';color: #333;margin:15px}
main .main-hot .main-hot-b li .cont-1 i{display:block;width:40px;height:40px;background:rgba(0,0,0,.4);position: absolute;border-radius:50%;text-align:center;font:16px/40px "";color:#fff;top:0}

main .main-hot .left1,.right1{width:60px;height:60px;position: absolute;z-index: 12;opacity: 0.7;border:none;}
main .main-hot .left1{left:0;top:300px;background:rgba(0,0,0,.4) url(../images/icon.png) no-repeat center;background-position: 0 -120px;}
main .main-hot .right1{right:0;top:300px;background:rgba(0,0,0,.4) url(../images/icon.png);background-position: 0 0;}



main .main-rec{padding-top:45px;height:326px;margin-top:30px}
main .main-rec>div{height:40px}
main .main-rec h3{font:28px/36px "";font-weight: bold;color: #2d323b;padding-bottom:15px;float: left;}
main .main-rec .tjzq{float:right;}
main .main-rec .tjzq a{height: 28px;width: 40px;padding: 0 17px;margin-left: -4px;line-height: 28px;color: #666;font-size: 14px;line-height: 28px;display: block;float: left;text-align: center;border-radius:14px}
main .main-rec .tjzq span{width: 5px;height: 5px;background: #666;display: inline-block;border-radius: 50%;display: block;float: left;margin:10px}


main .main-rec ul{height:244px;position: relative;padding:0 235px;border-bottom: 2px solid #d5d9db;top:30px}
main .main-rec ul li{float: left;border: .5px solid #e6ebee;width:240px;height:61px}
main .main-rec ul li img{width:240px;height:61px}
main .main-rec ul li:first-child{position: absolute;left:0;top:0;border:none}
main .main-rec ul li:first-child img{width:240px;height:243px;}
main .main-rec ul li:last-child{position: absolute;right:0;top:0;border:none}
main .main-rec ul li:last-child img{width:240;height:243px;}





main .main-11s{margin-top:70px;overflow: hidden;background:#fff;}
main .main-11s .logo3{float: left;}
main .main-11s .a11s-r{float: left;padding:10px 20px 0 20px;height:315px;background:#fff;}
main .main-11s .a11s-r .a11s-r-l{float: left}
main .main-11s .a11s-r .a11s-r-c{float: left;margin-left:20px}
main .main-11s .a11s-r .a11s-r-r{float: left;margin-left:20px}
main .main-11s .a11s-r .shangfang{display:flex;justify-content:space-between;height: 40px;border-bottom: 1px solid #666}
main .main-11s .a11s-r h3{font-size: 16px;line-height: 20px;font-weight: bold;color: #2d323b;}
main .main-11s .a11s-r em{font-size: 14px;line-height: 18px;}
main .main-11s .a11s-r p{padding-top:20px}
main .main-11s .a11s-r p span{width: 5px;height: 5px;background: #666;display: inline-block;border-radius: 50%}
main .main-11s .a11s-r p b{    display:inline-block;overflow: hidden;max-height: 36px;padding-left: 12px;font-size: 14px;line-height: 18px;margin: -5px;}
main .main-11s .a11s-r .a11s-r-r img{display:block;margin-top:22px} 

main .main-pay{padding-top:35px;padding-top: 20px;}





footer{height:300px;background-color:#fafafa;}
footer .aboutUs{height:40px;background-color:#f2f2f2;border-bottom:2px solid #dadada}
footer .aboutUs .layout ul{float: left;display: flex;font:14px/40px "";}
footer .aboutUs .layout ul li{margin-left:10px}
footer .aboutUs .layout ul span{margin:15px 0 0 5px;width: 1px;height: 10px;background: #4e4c53;display: inline-block;}
footer .footer-t{height:150px;padding-bottom:29px;border-bottom: 1px solid #999;}
footer .footer-t img{margin:64px 0 0 92px ;width:121px;height:58px;float: left;}
footer .footer-t span{float:left;margin:30px 0 0 90px;width: 1px;height: 120px;background: #999;display: inline-block;}
footer .footer-t-c,.footer-t-r{float: left;margin:40px 0 0 55px;font-size: 12px;line-height: 18px;color: #999;}
footer .footer-t h3{margin-bottom: 3px;font-size: 13px;line-height: 19px;font-weight: bold;color: #333;}
footer .footer-b{padding-top:20px;font-size: 12px;line-height: 18px;color: #999;}

figure{position: fixed;top:42%;right:30px}
figure ul{width:70px;height:240px;background:rgba(84, 161, 233, 0.7);border-radius:10px;display:flex;flex-wrap: wrap;padding: 0 5px}
figure ul li{width:70px;height:40px;text-align: center;font: 12px/40px "";border-bottom: 1px solid rgba(84, 161, 233);color:#fff}
figure ul li:nth-child(6){border:0}